###  Why Python?

<font color=red>Why Python?

###Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

### Ways to run python

Immediate mode - cmd or terminal prompt using direct console(Command 'python' Enter)
Script mode - Create a file with .py extension - 'python file.py' Enter
Integrated Developement Environment (IDE) - spyder, pycharm, jupyter notebook

In [1]:
!python --version

Python 3.8.8

In [2]:
a = 5;
A = 4;
a+A
#Addition

9

In [3]:
a = 3+5+45+4+56
a

113

In [4]:
a = (2+4+55+34 +4)
a

99

In [5]:
a, b, c = 23,54,"hi"
a,b,c

(23, 54, 'hi')

In [6]:
a = b = c = "test"
b

'test'

In [7]:
a = "python"
type(a)

str

In [8]:
b = 5.2
type(b)

float

In [9]:
c=3
type(c)

int

#a=2,b=3.4 add and store in sum
#subtract and store in sub
#print both outputs

In [10]:
a=2
b=3.4
sum=a+b
sub=a-b
sum,sub

(5.4, -1.4)

In [11]:
a=2
b=3.4
c=a+b
c
type(c)

float

In [12]:
c = 33
type(c)

int

In [13]:
d = 2+3j
type(d)

complex

In [14]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [15]:
x = ["apple", "banana", "cherry"]
type(x)

list

In [16]:
x = {"name" : "John", "age" : 36}
type(x)

dict

In [17]:
x = {"apple", "banana", "cherry"}
type(x)

set

#List
""" 
1. Allows Heterogenous
2. Index start from 0
3. Mutable using index
4. []
"""

In [18]:
sample_list = [12,43,"fd",1+3j]
sample_list

[12, 43, 'fd', (1+3j)]

In [19]:
type(sample_list)

list

In [20]:
sample_list[0]

12

In [21]:
sample_list[2] = 3.5

In [22]:
sample_list

[12, 43, 3.5, (1+3j)]

In [23]:
sample_list.reverse()

In [24]:
sample_list

[(1+3j), 3.5, 43, 12]

#Tuple
"""
1. Allows Heterogenous
2. Retrive using index
3. Cannot change the data once declared - immutable
4. ()
"""

In [25]:
sample_tuple = (1,43,56,3.5,"hi",1+2j)
sample_tuple

(1, 43, 56, 3.5, 'hi', (1+2j))

In [26]:
type(sample_tuple)

tuple

In [27]:
sample_tuple[3]

3.5

In [28]:
#tuples are immutable
sample_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [38]:
#tuples are immutable
sample_tuple[3] = 13

TypeError: 'tuple' object does not support item assignment

#Set
"""
1. Add heterogenous
2. Does not allow duplicates
3. Cannot access using index
4. immutable
5. sometimes can be ordered
"""

In [39]:
sample_set = {1,43,23,45,67,22,21,32,0,25,3,66,66,0,23,43,1,"a","abc"}
type(sample_set)

set

In [40]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 43, 45, 66, 67, 'a', 'abc'}

In [41]:
sample_set[2]

TypeError: 'set' object is not subscriptable

In [42]:
sample_set.remove(43)
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 45, 66, 67, 'a', 'abc'}

In [43]:
sample_set.pop()

32

#dictionary
"""
1. dictionary key value pair datastructue
2. key is unique and value can be duplicated
3. Can retrieve the value using key
4. can change the value using key
5. key is immutable

"""

In [44]:
sample_dict = {"a":"alpha",1:"first",2:"second",3:"third",1:"fourth",5:"fourth",6:"sixth"}
type(sample_dict)

dict

In [45]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [46]:
sample_dict[5]

'fourth'

In [47]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [48]:
sample_dict[9] = "seventh"
sample_dict

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'third',
 5: 'fourth',
 6: 'sixth',
 9: 'seventh'}

#String
"""
1. String can be retrieved using index
2. String is immutable

"""

In [49]:
a = "hi how are you?"

In [50]:
type(a)

str

In [51]:
a[9]

'e'

In [52]:
a[3] = 'u'

TypeError: 'str' object does not support item assignment

In [53]:
#Type Conversion
a = 23.975
type(a)

float

In [54]:
a = int(a)
a

23

In [55]:
a = 23
type(a)

int

In [56]:
a = float(a)
a

23.0

In [57]:
a ="10"
type(a)

str

In [58]:
a = int(a)
a

10

In [59]:
a = "rer"
int(a)

ValueError: invalid literal for int() with base 10: 'rer'

In [60]:
#you can change any 
a = 345
a = str(a)
a

'345'

In [61]:
lst = [1,3,5,4,3,4]
type(lst)

list

In [62]:
tpl = tuple(lst)

In [63]:
lst = list(tpl)
lst

[1, 3, 5, 4, 3, 4]

In [64]:
set(lst)

{1, 3, 4, 5}

In [65]:
lst1 = [[1,2],[3,5],["a",["gr","ewd"]]]
lst1

[[1, 2], [3, 5], ['a', ['gr', 'ewd']]]

In [66]:
lst1[1][1]

5

In [67]:
dict(lst1)

{1: 2, 3: 5, 'a': ['gr', 'ewd']}

In [72]:
a = list(input("Enter a number "))
a

Enter a number 19

['1', '9']

### Indendation

In [73]:
a = int(input("Enter your age: "))

Enter your age: 20

In [74]:
print("Your age is ",a)

Your age is  20

### Condition Statement

In [75]:
if a>24:
    print("you are a adult")
elif a==0:
    print("New born")
else:
    print("you are teenager")

you are teenager

In [76]:
a

20

In [77]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [78]:
a = [34,32,67,87,3]

In [79]:
a

[34, 32, 67, 87, 3]

### Control Statement

In [80]:
for i in range(0,10):
    print(a[i])

34
32
67
87
3

IndexError: list index out of range

In [81]:
len(a)

5

In [82]:
for i in range(0,len(a)):
    print(a[i])

34
32
67
87
3

In [83]:
for i in a:
    print(i)

34
32
67
87
3

In [84]:
a

[34, 32, 67, 87, 3]

In [85]:
for i in range(0,len(a)):
    if(i==1):
        if(a[i]>10):
            print("it is greater")

it is greater

In [86]:
for i in range(0,len(a)):
    if(a[1]>10):
            print("it is greater")

it is greater
it is greater
it is greater
it is greater
it is greater

In [94]:
stringa = input("Enter your name:")

Enter your name:p.a. mohammed arshad

In [95]:
for i in stringa:
    print(i)
    if i=='e':
        print("E is there ")
        break

p
.
a
.

m
o
h
a
m
m
e
E is there

In [96]:
for i in stringa:
    print(i)
    if i=='e':
        print("I am going to skip this control")
        continue
        print("E is there")

p
.
a
.

m
o
h
a
m
m
e
I am going to skip this control
d

a
r
s
h
a
d

In [97]:
i = 5
while i>0:
    print(i)
    i = i-1

5
4
3
2
1

In [98]:
#Function
#"""""" = docstring
def test():
    """This is a test function"""
    print("Hi")

In [99]:
test()

Hi

In [100]:
#test?
#help(test)
test.__doc__

'This is a test function'

In [101]:
def sum(a,b):
    print(a+b)

In [102]:
sum(4,6)

10

In [103]:
def ExampleMultipleReturn():
    return 33,54
a, b = ExampleMultipleReturn()
a

33

In [104]:
b

54

In [105]:
### Recursive Function

def fact(num):
    if(num==1):
        return 1
    else:
        return(num*fact(num-1))
fact(4)

24

In [106]:
lst = ['Apple','orangE','BerrY','Grape']

In [107]:
answer = []
for i in lst:
    print(i)
    print("First letter of {} is {} ".format(i,i[0]))
    firstLetter = i[0]
    print("Length of {} is {}".format(i,len(i)))
    print("Last letter of {} is {} ".format(i,i[len(i)-1]))
    lastLetter = i[len(i)-1]
    print("First letter of {} is {}".format(i,firstLetter.isupper()))
    print("Last letter of {} is {}".format(i,lastLetter.islower()))
    isFirstLetterUpper = firstLetter.isupper()
    isLastLetterLower = lastLetter.islower()
    
    if(isFirstLetterUpper and isLastLetterLower):
        answer.append(i)
print(answer)

Apple
First letter of Apple is A
Length of Apple is 5
Last letter of Apple is e
First letter of Apple is True
Last letter of Apple is True
orangE
First letter of orangE is o
Length of orangE is 6
Last letter of orangE is E
First letter of orangE is False
Last letter of orangE is False
BerrY
First letter of BerrY is B
Length of BerrY is 5
Last letter of BerrY is Y
First letter of BerrY is True
Last letter of BerrY is False
Grape
First letter of Grape is G
Length of Grape is 5
Last letter of Grape is e
First letter of Grape is True
Last letter of Grape is True
['Apple', 'Grape']

In [108]:
lst = [242,54,5465,65, "ste","tref"]
lst = [3,43,4,45,456,456,56,57,567,56,756,7,7]

In [109]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [110]:
list(range(6,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [111]:
for i in range(0,len(lst)):
    print(lst[i])

3
43
4
45
456
456
56
57
567
56
756
7
7

In [112]:
lst = [1,4,3,2,543,5435,435,435,345,34523,423]
list(range(len(lst)-1,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [113]:
newlst = []
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

423
34523
345
435
435
5435
543
2
3
4
1

In [114]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [116]:
list(range(10,-1,-3))

[10, 7, 4, 1]

In [117]:
lst

[1, 4, 3, 2, 543, 5435, 435, 435, 345, 34523, 423]

In [118]:
lst[0:3]

[1, 4, 3]

In [119]:
lst[3:7]

[2, 543, 5435, 435]

In [120]:
square = lambda  x: x**2

In [121]:
square(3)

9

In [122]:
lst = [1,2,3,4,5]

In [123]:
newList = []

for i in lst:
    newList.append(square(i))
print(newList)

[1, 4, 9, 16, 25]

In [124]:
squareit = lambda x: x**2

list(map(lambda x: x**2,lst))

[1, 4, 9, 16, 25]

In [125]:
a =3
list(map(lambda x: x**2,lst))

[1, 4, 9, 16, 25]

In [126]:
def abc(x):
    return x**2

In [127]:
list(map(abc,lst))

[1, 4, 9, 16, 25]

In [128]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [129]:
newList = []
for i in lst:
    if (i%2==0):
       newList.append(i) 
print(newList)

[2, 4, 6, 8, 2, 2]

In [130]:
list(filter(lambda x : x%2==0,lst))

[2, 4, 6, 8, 2, 2]

In [131]:
lst

[3, 2, 4, 5, 6, 7, 8, 2, 1, 2, 3, 3]

In [132]:
if 1 in lst:
    print("1 is there")
else:
    print("not there")

1 is there

In [133]:
sum = 0
for i in lst:
    sum = sum + i
print(sum)

46

In [134]:
import functools

In [135]:
from functools import reduce

reduce(lambda x,y: x+y,lst)

46

In [136]:
lst = [3233,32,44,35,3,42,543,31,13,1,2,3,23,23,23,23,32]

def greatest(x,y):
    if x>y:
        return x
    else:
        return y

In [137]:
reduce(lambda x,y :x if x>y else y,lst)

3233

In [138]:
reduce(greatest,lst)

3233

In [139]:
n = int(input("Enter the number for factorial: "))

Enter the number for factorial: 4

In [140]:
reduce(lambda x,y: x*y, list(range(1,n+1)))

24

In [141]:
list(range(1,n))

[1, 2, 3]

In [142]:
lst = [1,3,2,4,5]

In [143]:
newlist=[]
for i in lst:
    newlist.append(i**2)
print(newlist)

[1, 9, 4, 16, 25]

### list comprehension

In [144]:
[i**2 for i in lst]

[1, 9, 4, 16, 25]

In [145]:
[i for i in lst if i%2==0]

[2, 4]

In [146]:
["even" if i%2==0 else "odd" for i in lst ]

['odd', 'odd', 'even', 'even', 'odd']

In [147]:
lst1 = [1,2,3,6,4]
lst2 = [5,3,7,6,1]

In [148]:
[i for i in lst1 for j in lst2 if i==j]

[1, 3, 6]

In [149]:
[(i,j) for i in lst1 for j in lst2 if i!=j]

[(1, 5),
 (1, 3),
 (1, 7),
 (1, 6),
 (2, 5),
 (2, 3),
 (2, 7),
 (2, 6),
 (2, 1),
 (3, 5),
 (3, 7),
 (3, 6),
 (3, 1),
 (6, 5),
 (6, 3),
 (6, 7),
 (6, 1),
 (4, 5),
 (4, 3),
 (4, 7),
 (4, 6),
 (4, 1)]

In [150]:
a = int(input("Enter the number "))

Enter the number 34

In [152]:
a =10
b =0
print(a/b)
print("I have done division")

ZeroDivisionError: division by zero

In [153]:
try:
    a =10
    b =0
    a/b
except :
    print("Divide By Zero")
print("I have done division")

Divide By Zero
I have done division

In [154]:
try:
    a = int(input("Enter the number "))
except (ValueError) as e:
    print("Invalid input: ",e)
    print("Please enter a valid number")
except (Exception) as e:
    print("Exception")
finally:
    print("Inside finally block")

Enter the number eee
Invalid input:  invalid literal for int() with base 10: 'eee'
Please enter a valid number
Inside finally block

In [155]:
from sklearn.linear_model import LinearRegression

In [156]:
model=LinearRegression()

In [161]:
nums=[25,56,56,63]
nums[0]

25

In [171]:
nums[4]

63

In [163]:
nums[3]

63

In [164]:
nums[2:]

[56, 63]

In [165]:
nums[-1]

63

In [172]:
nums[-4]

77

In [167]:
names=['shreya','siddharth','shivani']
names[0]

'shreya'

In [168]:
values=[11.5,'Shreya',45]
values

[11.5, 'Shreya', 45]

In [169]:
mix=[names,values]
mix

[['shreya', 'siddharth', 'shivani'], [11.5, 'Shreya', 45]]

In [170]:
nums.append(45)
nums.insert(2,77)
nums

[25, 56, 77, 56, 63, 45]