In [1]:
name="MD.ARSHAD"
print(name)
type(name)

MD.ARSHAD

str

In [2]:
Age=19
type(Age)

int

In [3]:
height=5.4
type(height)

float

In [4]:
student=True
type(student)

bool

In [5]:
X= A
#A is not defined
type(X)

NameError: name 'A' is not defined

#### Note : characters are not available in python only strings

In [6]:
 x='4.5'
type(x)

str

In [7]:
### IMPLICIT CONVERSION
SALES = 7.7
NUM = 3
TOTAL = 0
TOTAL = SALES*NUM
print(TOTAL)
type(TOTAL)

23.1

float

In [8]:
### IMPLICIT CONVERSION
SALES = 7.0
NUM = 3
TOTAL = 0
TOTAL = SALES*NUM
print(TOTAL)
type(TOTAL)

21.0

float

In [9]:
### IMPLICIT CONVERSION
SALES = 7
NUM = 3
TOTAL = 0
TOTAL = SALES*NUM
print(TOTAL)
type(TOTAL)

21

int

In [10]:
SALES = 7.7
NUM = 3
TOTAL = 0
TOTAL = SALES+NUM
print(TOTAL)
print(type(TOTAL))

10.7
<class 'float'>

In [11]:
SALES = 7.7
NUM = '3'
TOTAL = 0
TOTAL = SALES+NUM
print(TOTAL)
print(type(TOTAL))

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [12]:
### Explicit conversion
SALES = 7.7
NUM = '3'
TOTAL = 0
TOTAL = SALES+int(NUM)
print(TOTAL)
print(type(TOTAL))

10.7
<class 'float'>

In [13]:
SALES = 7.7
NUM = '3'
TOTAL = 0
TOTAL = int(SALES)+int(NUM)
print(TOTAL)
print(type(TOTAL))

10
<class 'int'>

# CHECKING CONVERSION OF DATATYPES

### INT TO OTHER DATATYPES

In [14]:
A= 5
float(A)

5.0

In [15]:
b= 5
str(b)

'5'

In [16]:
c= 4
bool(c)

True

In [17]:
c=0
bool(c)

False

In [18]:
c=-1
bool(c)

True

### float conversion

In [19]:
a=2.9
int(2)

2

In [20]:
b=3.3
str(b)

'3.3'

In [21]:
c=4.4
bool(c)

True

In [22]:
c=-3.0
bool(c)

True

### string conversions

In [23]:
a='eee'
int(a)

ValueError: invalid literal for int() with base 10: 'eee'

In [24]:
float(a)

ValueError: could not convert string to float: 'eee'

In [25]:
bool(a)

True

### Boolean conversions

In [26]:
a= True
int(a)

1

In [27]:
float(a)

1.0

In [28]:
str(a)

'True'