### A FUNCTION IS A BLOCK OF REUSABLE CODE THAT RUNS WHEN CALLED

In [1]:
computer_accessories=("CPU","MOUSE","KEYBOARD")
print(computer_accessories)

('CPU', 'MOUSE', 'KEYBOARD')

In [2]:
print(1)
print('\n')
print(2)
print(('\n'))
print("this gives space between line")

1


2


this gives space between line

In [3]:
print("hello,i'm curious to learn", "data" ,"science",sep='#')

hello,i'm curious to learn#data#science

In [4]:
print("hello,i'm curious to learn", "data" ,"science",sep='\n')

hello,i'm curious to learn
data
science

In [5]:
print("hello,i'm curious to learn", "data" ,"science",sep='\t')

hello,i'm curious to learn	data	science

In [6]:
print("hello,i'm curious to learn", "data" ,"science",sep='\f')

hello,i'm curious to learndatascience

In [7]:
print("hello,i'm curious to learn", "data" ,"science",sep='\r')

science

In [8]:
print("This is akash's car")

This is akash's car

In [9]:
print("This is akash\"s car")

This is akash"s car

In [11]:
# end of line error as different quotations are used
print("Python is fun')

SyntaxError: EOL while scanning string literal (<ipython-input-11-d232df84fe53>, line 2)

In [12]:
print("python"+"is fun")

pythonis fun

In [13]:
print("python"+3.9)

TypeError: can only concatenate str (not "float") to str

In [14]:
print("python"+str(3.9))

python3.9

### bitwise and

In [15]:
a = 10 # 1010 (Binary)
b = 4 #  0100 (Binary)
a & b

0

### bitwise or

In [16]:
a|b

14

### bitwise comp

In [17]:
~a

-11

In [18]:
# This function expects 2 arguments, and gets 2 arguments:

In [19]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("mohammed","arshad")

mohammed arshad