### Creating a user-defined function

In [1]:
def greet():
    print("Hello and Welcome")

In [2]:
greet()

Hello and Welcome

### Function with parameters

In [4]:
def greet(name):
    print("Hello",name, "Welcome")
p_name = input("Enter your name:")
greet(p_name)

Enter your name:P.A.MOHAMMED ARSHAD
Hello P.A.MOHAMMED ARSHAD Welcome

In [5]:
#it throws a error if we dont pass the parameters
greet()

TypeError: greet() missing 1 required positional argument: 'name'

### Return Keyword

In [6]:
def add(n1,n2):
    sum=n1+n2
    return(sum)

In [7]:
summation=add(5,10)
print(summation)

15

# FUNCTION ARGUMENTS

### Required Arguments

In [9]:
def add(n1,n2):
    sum=n1+n2
    return(sum)
num1=5
num2=10
add(num1,num2)
#n1 and n2 are passed in correct order

15

In [10]:
def greet():
    print("Hello and Welcome")

#No required arguments passed

In [11]:
hello()

NameError: name 'hello' is not defined

### Keyword Arguments

In [17]:
def employee(Name,Designation):
    print(Name,Designation)

In [18]:
employee(Name = 'MOHAMMED ARSHAD',Designation = 'DATA SCIENTIST')
employee(Designation = 'DATA SCIENTIST', Name='MOHAMMED ARSHAD')

MOHAMMED ARSHAD DATA SCIENTIST
MOHAMMED ARSHAD DATA SCIENTIST

### Default Arguments

In [19]:
def emp(name,sal=120000):
    print("emp_name ",name)
    print("emp_salary ",sal)

In [20]:
emp("sam")

emp_name  sam
emp_salary  120000

### Variable - Length Arguments

In [29]:
def addition(*num):
    add = 0
    for n in num:
        add = add + n
    print(add)

In [30]:
addition(1,2)

3

### Variable Length Keyword Arguments

In [31]:
def emp(**details):
    print(type(details))
    for k , v in details.items():
        print(k,"-->",v)

In [32]:
emp(first_name = "Jack", Salary = 100000)

<class 'dict'>
first_name --> Jack
Salary --> 100000